Source: codicefiscale
Section: office
Priority: optional
Maintainer: Codelinsoft <info@codelinsoft.it>
Build-Depends: debhelper (>= 8.0.0),libqt5core5a,libqt5gui5, libqt5multimedia5, libqt5network5,
	 libqt5printsupport5, libqt5sql5, libqt5svg5, libqt5widgets5, libqt5xml5,
	 libqt5qml5, libqt5qmlmodels5, libqt5quickshapes5, libqt5quickwidgets5, qml-module-qtquick-controls,
	 qml-module-qtquick-controls2, qml-module-qtquick-dialogs, qml-module-qtquick-layouts,
	 qml-module-qtquick-localstorage, qml-module-qtquick-particles2, qml-module-qtquick-shapes,
	 qml-module-qtquick-templates2, qml-module-qtquick-window2, qml-module-qtquick2, qtquickcontrols2-5-dev,
	 qtdeclarative5-dev
Standards-Version: 3.9.2

Package: codicefiscale
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: libqt5core5a,libqt5gui5, libqt5multimedia5, libqt5network5,
	 libqt5printsupport5, libqt5sql5, libqt5svg5, libqt5widgets5, libqt5xml5,
	 libqt5qml5, libqt5qmlmodels5, libqt5quickshapes5, libqt5quickwidgets5, qml-module-qtquick-controls,
	 qml-module-qtquick-controls2, qml-module-qtquick-dialogs, qml-module-qtquick-layouts,
	 qml-module-qtquick-localstorage, qml-module-qtquick-particles2, qml-module-qtquick-shapes,
	 qml-module-qtquick-templates2, qml-module-qtquick-window2, qml-module-qtquick2
Description: <Software per il calcolo del codice fiscale>
 <Software per il calcolo del codice fiscale. Calcola sia quello italiano che
    quello estero.>
